<!DOCTYPE html>
<html>
        <head>
                <meta charset="utf-8">
                <title>微信JS-SDK Demo</title>
                <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
                <link rel="stylesheet" href="http://203.195.235.76/jssdk/css/style.css">
        </head>
        <body ontouchstart="">
                <div class="wxapi_container">                        
                        <div class="lbox_close wxapi_form">
                                <h3 id="menu-share">分享接口</h3>
                                <span class="desc">获取“分享到朋友圈”按钮点击状态及自定义分享内容接口</span>
                                <button class="btn btn_primary" id="onMenuShareTimeline">onMenuShareTimeline</button>
                                <span class="desc">获取“分享给朋友”按钮点击状态及自定义分享内容接口</span>
                                <button class="btn btn_primary" id="onMenuShareAppMessage">onMenuShareAppMessage</button>
                        </div>
                </div>
        </body>
        <script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
        <script>
                wx.config({
                        debug: false,
                        appId: 'llllllllll',
                        timestamp: 56666666666666,
                        nonceStr: 'fffffffffffffff',
                        signature: 'ssssssssssssssss',
                        jsApiList: [
                                'checkJsApi',
                                'onMenuShareTimeline',
                                'onMenuShareAppMessage',
                                'onMenuShareQQ',
                                'onMenuShareWeibo',
                                'onMenuShareQZone',
                        ]
                });
                wx.ready(function() {
                        // 2.1 监听“分享给朋友”，按钮点击、自定义分享内容及分享结果接口
                        document.querySelector('#onMenuShareAppMessage').onclick = function() {
                                wx.onMenuShareAppMessage({
                                        title: '互联网之子 方倍工作室',
                                        desc: '在长大的过程中，我才慢慢发现，我身边的所有事，别人跟我说的所有事，那些所谓本来如此，注定如此的事，它们其实没有非得如此，事情是可以改变的。更重要的是，有些事既然错了，那就该做出改变。',
                                        link: 'http://movie.douban.com/subject/25785114/',
                                        imgUrl: 'http://img3.douban.com/view/movie_poster_cover/spst/public/p2166127561.jpg',
                                        trigger: function(res) {
                                                alert('用户点击发送给朋友');
                                        },
                                        success: function(res) {
                                                alert('已分享');
                                        },
                                        cancel: function(res) {
                                                alert('已取消');
                                        },
                                        fail: function(res) {
                                                alert(JSON.stringify(res));
                                        }
                                });
                                alert('已注册获取“发送给朋友”状态事件');
                        };

                        // 2.2 监听“分享到朋友圈”按钮点击、自定义分享内容及分享结果接口
                        document.querySelector('#onMenuShareTimeline').onclick = function() {
                                wx.onMenuShareTimeline({
                                        title: '互联网之子 方倍工作室',
                                        link: 'http://movie.douban.com/subject/25785114/',
                                        imgUrl: 'http://img3.douban.com/view/movie_poster_cover/spst/public/p2166127561.jpg',
                                        trigger: function(res) {
                                                alert('用户点击分享到朋友圈');
                                        },
                                        success: function(res) {
                                                alert('已分享');
                                        },
                                        cancel: function(res) {
                                                alert('已取消');
                                        },
                                        fail: function(res) {
                                                alert(JSON.stringify(res));
                                        }
                                });
                                alert('已注册获取“分享到朋友圈”状态事件');
                        };
                });
        </script>
</html>